html {

}

@media screen and (min-width: 767px){
    #menu-bg {
        background-color: #00ffff
    }
}

@media screen and (max-width: 767px){
    #menu-bg {
        background-color: #ff0000
    }
}

@media screen and (max-width: 479px){
    #menu-bg {
        background-color: #00ff00
    }
}


body{
    margin:0 auto;
 
}

header, footer, body, div{
    background-color: #ffffff;
    margin:0 auto;
    padding:0 30px;
    max-width:1200px;
}

li{
    list-style:none;
    padding-left: 15px;
}

.header_list{
    float: right;
    padding:40px;
    text-align: center;
    margin:0 auto;
}

.header_list2{
    float: right;
    font-size: 15px;
    padding:40px;
    text-align: center;
    margin:0 auto;
}

.logo{
    height:auto;
    float:left;
    padding: 0 40px;
}

table{
    margin: auto;
    width:100%;
}

td{
    font-family:serif;
    font-size: 20px;
    font-weight:500;
}

a{
    text-decoration: none;
    color:black;
}

.main{
    height:auto;
    max-width:100%;
    margin-top: 0px;
}

.main-text1{
    text-align:center;
    font-family:serif;
    font-weight:500;
    border-bottom:1px solid #888;
    padding-bottom:55px;
}

.main-text2{
    text-align:center;
    font-family:serif;
    font-weight:500;
    border-bottom:1px solid #888;
    padding-bottom:55px;
}

.news{
    border-bottom:1px solid #888;
    padding:55 100 55 100;
    font-family:serif;
}

.instagram{
    display: flex;
    padding:0;
}

.instagram-img{
    width:50px;
}

.secret,.food,.shop,.delivery{
    text-align:center;
    font-family:serif;
    font-size:20px;
    padding-top:55px;
}

article{
    font-family:serif;
    font-weight:500;
}

.article-1{
    display: flex;
    margin: 0;
    padding: 48 0;
    justify-content: space-around;
}

.fresh-meat{
    height:auto;
    order: 1;
    max-width:400px;
}

.section-1{
    order: 2;
}

.article-2{
    display: flex;
    margin-top:0;
    padding-top:0;
    padding-bottom:55px;
    justify-content: space-around;
    border-bottom:1px solid #888;
}

.yakiba{
    height:auto;
    order: 1;
    max-width:400px;
}

.article-a{
    text-align: center;
    max-width:100%;
}

.article-b{
    border-bottom:1px solid #888;
    text-align: center;
    max-width:100%;
}

.article-3{
    display: flex;
    padding: 48 0;
    justify-content: space-around;
    border-bottom:1px solid #888;
}

.shop-photo{
    width:300px;
    order: 1;
}

.map{
    order: 2;
}

.article-4{
    display: flex;
    padding: 48 0;
    justify-content: space-around;
    border-bottom:1px solid #888;
}

@media screen and (min-width: 801px) {
    .header_list2 {display:none;}
    .section-a {display:none;}
    .section-b {display:none;}
    .main-text2 {display:none;}
    }

@media screen and (max-width: 800px) {
    .header_list {display:none}
    .logo {height:150px;}
    .logo {width:auto;}
    .fresh-meat {width: auto;}
    .fresh-meat {height: 400px;}
    .yakiba {width: auto;}
    .yakiba {height: 400px;}
    .section-1 {display:none;}
    .section-2 {display:none;}
    .article-2 {border-bottom:none;}
    .article-2 {padding-top:55px;}
    .main-text1 {display:none;}
    .header_list2 {display:none}
    img {margin:0 auto;}
    .main {width:100%;}
}
